Options -MultiViews

RewriteEngine On

RewriteBase /Ontologies

RewriteCond %{HTTP_USER_AGENT} ^Mozilla/.*
RewriteRule ^$ ARKCube/index-en.html [R=303,L]
RewriteRule ^$ ARKPlatform/index-en.html [R=303,L]
RewriteRule ^$ CybersecurityControl-OWL/index-en.html [R=303,L]
